* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

body {
  background: rgb(181 178 178 / 0.1);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  overscroll-behavior: contain;
}
